body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 50px;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
    height: 90px;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #004d99;
}

nav {
    background-color: #004d99;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 1000;

}

nav a {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    float: left;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: bold;


}

nav a:hover {

    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    background-color: transparent;

}

.section {
    margin-bottom: 40px;
}

.section p {
    line-height: 1.6;
}

section.lyrics-section {
    background: #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    margin: 20px 150px;
    position: relative;
    overflow: hidden;
}

section.lyrics-section::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, #e0f7fa, transparent 70%);
    opacity: 0.4;
    z-index: 0;
    transform: rotate(30deg);
}

.lyrics-content {
    position: relative;
    z-index: 1;
}

.lyrics-title {
    text-align: center;
    font-size: 1.8em;
    color: #00695c;
    margin-bottom: 20px;
    font-weight: 600;
}

.lyrics {
    font-size: 1.3em;
    text-align: center;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: pre-line;
    color: #444;
    transition: transform 0.3s ease, color 0.3s ease;
}

.lyrics:hover {
    color: #00897b;
    transform: scale(1.02);
}

@media (max-width: 700px) {
    section.lyrics-section {
        padding: 25px;
        margin: 40px 10px;
    }

    .lyrics-title {
        font-size: 1.5em;
    }

    .lyrics {
        font-size: 1em;
    }
}

.values-list,
.offers-list {
    list-style-type: none;
    padding: 0;
}

.values-list li,
.offers-list li {
    background-color: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 {
    font-weight: bold;
}

h3 {
    color: #4fa1f4;
}