body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        header {
            background-color: #004d99;
            color: white;
            padding: 20px;
            text-align: center;
            height: 90px;
        }
        header h1 {
            margin: 0;
        }

        nav {
            background-color: #333;
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 5px 0;
            text-align: center;
            z-index: 1000;
        }

        nav a {
            color: white;
            padding: 15px 20px;
            text-decoration: none;
            float: left;
            text-align: center;
        }

        nav a:hover {
            background-color: #ddd;
            color: black;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        h2 {
            color: #0044cc;
        }
        .section {
            margin-bottom: 40px;
        }
        .section p {
            line-height: 1.6;
        }
        .program-list, .grade-programs {
            list-style-type: none;
            padding: 0;
        }
        .program-list li, .grade-programs li {
            background-color: #e2e2e2;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
        footer {
            background-color: #004d99;
        height: 35px;
        color: white;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: normal;
        }