body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 50px;
    padding-top: 50px;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
    height: 90px;

}

header h1 {
    margin: 0;
}

nav {
    background-color: #004d99;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 1000;

}

nav a {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    float: left;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: bold;


}

nav a:hover {

    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    background-color: transparent;

}

.btn {
    width: 120px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding: 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

.add {
    background-color: #4CAF50;
    color: white;
}

.add:hover {
    background-color: #45a049;
    transform: scale(1.0);
}

.remove {
    background-color: #f44336;
    color: white;
}

.remove:hover {
    background-color: #d32f2f;
    transform: scale(1.0);
}

.glry {
    background-color: #333;
    padding: 15px 20px;
    color: #e6ffe6;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

.btn-container {
    position: relative;
    margin: 0;
    text-align: right;
    padding: 20px 0px;
}

footer {
    background-color: #004d99;
    height: 35px;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    margin: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.alert-box {
    background-color: #e6ffe6;
    color: #2d7a2d;
    border: 1px solid #77cc77;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}