body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 50px;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
    height: 90px;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #004d99;
}

nav {
    background-color: #004d99;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 1000;

}

nav a {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    float: left;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: bold;


}

nav a:hover {

    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    background-color: transparent;

}

.section {
    margin-bottom: 40px;
}

.section p {
    line-height: 1.6;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0033a1;
}

.contact-details p {
    line-height: 1.6;
}

.map-container {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}