<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">

</head>

<body>

    <!-- TOP BAR -->
    <div class="topbar">
        <div id="menu-btn">☰</div>
        <h1 class="site-title">Cherupushpam U.P. School</h1>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('academics') }}">Academics</a></li>
            <li><a href="{{ url_for('faculty') }}">Faculty</a></li>
            <li><a href="{{ url_for('galary') }}">Gallery</a></li>
            <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
        </ul>
    </div>


    <header>
        <h1>Contact Us</h1>
        <p>We’re here to help! Feel free to reach out with any questions or inquiries.</p>
    </header>

    <div class="container">

        <section class="section contact-details">
            <h2>Our Contact Information</h2>
            <p>If you need to get in touch with us directly, here are the best ways to contact the school:</p>
            <ul>
                <li><strong>Address:</strong> Cherupushpam UP School Marygiri, Therthally P.O, Alakode (via), Kannur
                </li>
                <li><strong>Pin:</strong> 670 571</li>
                <li><strong>Phone:</strong> 9061285643</li>
                <li><strong>Email:</strong> cherupushpamtherthally@gmail.com</li>
            </ul>
        </section>

    </div>
    <script>
        document.getElementById("menu-btn").onclick = function () {
            document.getElementById("sidebar").classList.toggle("open");
        };
    </script>
    <footer>
        <p>&copy; 2025 Cherupushpam U.P. School. All rights reserved.</p>
    </footer>

</body>

</html>