<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='academic.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">

</head>

<body>

    <!-- TOP BAR -->
    <div class="topbar">
        <div id="menu-btn">☰</div>
        <h1 class="site-title">Cherupushpam U.P. School</h1>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('academics') }}">Academics</a></li>
            <li><a href="{{ url_for('faculty') }}">Faculty</a></li>
            <li><a href="{{ url_for('galary') }}">Gallery</a></li>
            <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
        </ul>
    </div>


    <header>
        <h1>Our Faculties</h1>
    </header>

    <footer>
        <p>&copy; 2025 [School Name]. All rights reserved. </p>
    </footer>
    <script>
        document.getElementById("menu-btn").onclick = function () {
            document.getElementById("sidebar").classList.toggle("open");
    }
    </script>

</body>

</html>