<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='faculty.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">

</head>

<body>

    <!-- TOP BAR -->
    <div class="topbar">
        <div id="menu-btn">☰</div>
        <h1 class="site-title">Cherupushpam U.P. School</h1>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('academics') }}">Academics</a></li>
            <li><a href="{{ url_for('faculty') }}">Faculty</a></li>
            <li><a href="{{ url_for('galary') }}">Gallery</a></li>
            <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
        </ul>
    </div>
    <header>
        <h1>FACULTY</h1>
        <p>Our Team Of Passionate Teachers Committed To Delivering Quality Education</p>
    </header>
    <section class="teachers-section">

        <div class="teacher-grid">
            {% for teacher in teachers %}
            <div class="teacher-card">
                <img src="{{ url_for('static', filename='faculty/' + teacher.photo) }}" alt="{{ teacher.name }}">
                <h3>{{ teacher.name }}</h3>
            </div>
            {% else %}
            <p>No faculty members added yet.</p>
            {% endfor %}
        </div>
    </section>

    <script>
        document.getElementById("menu-btn").onclick = function () {
            document.getElementById("sidebar").classList.toggle("open");
        };
        const cards = document.querySelectorAll('.teacher-card');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('show');
                }
            });
        }, { threshold: 0.2 });

        cards.forEach(card => observer.observe(card));
    </script>

</body>

</html>