<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='school.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">


</head>

<body>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('academics') }}">Academics</a>
        <a href="{{ url_for('galary') }}">Gallery</a>
        <a href="{{ url_for('aboutus') }}">About Us</a>
        <a href="{{ url_for('contactus') }}">Contact</a>
    </nav>


    <div class="main-content">
        <section class="section1">
            <div class="hero">
                <img src="static\images\WhatsApp Image 2025-10-01 at 10.35.03_6c7f2bfc.jpg" height="%" width="%"
                    class="zoom zoom-img">
                <img src="static\images\logo.jpg" height="%" width="%" class="zoom">
                <div class="overlay-text">
                    <h1>Welcome to Cherupushpam U.P. School</h1>
                    <p>Your Path to Knowledge</p>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="cbar">Introduction</div>
            <ul class="values-list">
                <li>
                    <p>
                        Welcome to Cherupushpam U.P. School, Therthally, an unaided Christian minority institution
                        founded in 1970 under the Sanjos Province of the Missionary Sisters of Mary Immaculate (MSMI)
                        Congregation, Kannur.
                    </p>
                    <p>
                        Guided by our motto - Truth, Love, and Service - we are dedicated to providing comprehensive,
                        holistic, and value-based education. We follow CBSE syllabus for LP and State syllabus for UP,
                        ensuring quality education that nurtures academic excellence and character formation.
                    </p>
                    <p>
                        Our school offers smart classrooms, spoken English classes, library, IT lab, playgrounds, and
                        school bus facilities. We encourage students to explore their talents through arts, sports,
                        quizzes, cultural and innovative programs.
                    </p>
                    <p>
                        Together, we prepare students to become responsible, patriotic, and compassionate citizens who
                        contribute to society with love and integrity.
                    </p>
                </li>
            </ul>
        </section>

        <section class="section">
            <div class="cbar">Our History</div>
            <ul class="values-list">
                <li>
                    <p>Cherupushpam U.P. School, Therthally is an unaided Christian Minority School functioning under
                        the direction and control of the Sanjos Province of the Missionary Sisters of Mary Immaculate
                        (MSMI) Congregation, Kannur, Kerala.
                    </p>
                    <p>
                        MSMI, a Christian Religious Congregation founded in 1962 by Rev. Msgr. C.J. Varkey, a great
                        visionary, is renowned in India and abroad for its valuable contribution in various fields. The
                        Congregation manages numerous well-established centres including schools, hospitals, media and
                        communication centres, homes for the aged, counselling centres, retreat centres, social welfare
                        projects, and training institutes. Its services extend across Kerala, Karnataka, Tamil Nadu,
                        Andhra Pradesh, Uttar Pradesh, Delhi, Punjab, Jammu, Madhya Pradesh, Bhopal, Maharashtra, and
                        several parts of the world.
                    </p>
                    <p>
                        Cherupushpam U.P. School, Therthally, is a co-educational institution offering CBSE syllabus for
                        LP section and State syllabus for UP section. The school is open to children of all communities
                        and aims to provide quality education to all irrespective of caste, creed, or religion.
                    </p>
                    <p>
                        Guided by the motto “Truth, Love and Service,” the institution strives to create intellectually
                        sound, emotionally mature, morally upright, socially responsible, and spiritually inspired
                        individuals who can contribute positively to society and the nation.
                    </p>
                </li>
            </ul>
        </section>
        <section class="section">
            <div class="cbar">Get Involved</div>
            <ul class="values-list">
                <li>
                    <p>We believe that the involvement of parents and the wider community is key to creating a thriving
                        educational environment. There are numerous ways for you to get involved, from volunteering at
                        events to
                        participating in school committees and activities.</p>
                </li>
            </ul>
        </section>
    </div>
    <script>
        let slides = document.querySelectorAll('.zoom');
        let index = 0;

        function showNextSlide() {
            slides[index].classList.remove('zoom-img');
            index = (index + 1) % slides.length;  // move to next, loop back
            slides[index].classList.add('zoom-img');
        }

        setInterval(showNextSlide, 3000); // change image every 3 seconds
    </script>

    <footer>
        <p>&copy; 2025 [School Name]. All rights reserved.</p>
    </footer>
</body>

</html>