<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cherupushpam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='school.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">


</head>

<body>
    <!-- TOP BAR -->
    <div class="topbar">
        <div id="menu-btn">☰</div>
        <h1 class="site-title">Cherupushpam U.P. School</h1>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('academics') }}">Academics</a></li>
                <li><a href="{{ url_for('galary') }}">Gallery</a></li>
                <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
            </ul>
    </div>

    <div class="main-content">
        <section class="section1">
            <div class="banner">
                <img src="static\images\WhatsApp Image 2025-10-01 at 10.35.03_6c7f2bfc.jpg">
                <img src="static\images\WhatsApp Image 2025-10-01 at 10.35.05_05943215.jpg">
                <div class="banner-overlay">
                    <h1>Welcome to Cherupushpam U.P. School</h1>
                </div>
            </div>
        </section>
    </div>
    <script>
        document.getElementById("menu-btn").onclick = function () {
            document.getElementById("sidebar").classList.toggle("open");
        };
    </script>

    <footer>
        <p>&copy; 2025 [School Name]. All rights reserved.</p>
    </footer>
</body>

</html>